* {
    /* outline: 1px solid red; */
    box-sizing: border-box;
}

body {
    background-color: rgb(213, 225, 239);
    display: grid;
    place-items: center; 
}

.attribution {
    font-size: 11px;
    text-align: center;
  }
  .attribution a {
    color: hsl(228, 45%, 44%);
  }

  .qrimage {
    border-radius: 5px;
    width: 95%; 
    
       
  }

  #title {
padding-top: 10px;
font-size: large;

  }

  .qrltext {

    font-family: Arial, Helvetica, sans-serif;
    padding-top: 10px;
    text-align: center;
    padding: 0px 10px 0px 10px;
    
    
  }

  .card {
    margin: 9%;
    display: grid;
    place-items: center;
    grid-auto-columns: auto;
    border-radius: 5px;
    padding-bottom: 40px;
    padding-top: 24px;
    width: 80%;
    max-width: 300px;
    background-color: rgb(255, 255, 255);
    box-shadow: 1px 4px 500px 1px rgb(160, 157, 157);;
  }

  .card #textcolor {
    color: rgb(149, 148, 148);
  }

