/* 
h2 {
    color: teal;
    background-color: brown;
}
button {
    color: magenta;
    background-color: aquamarine;
}
p {
    color: gray;
    background: orange;
}

 */

 h1 {
    text-align: center;
    font-weight: normal;
    text-decoration: underline;
    
 }

 p {
    line-height: 2;
    
 }